

@keyframes logo1 {
	0% {transform: scale(1);}
	25%{transform: scale(1.1)}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}


.c4r3, .c5r3, .c4r4, .c5r4 {
	@include transform-origin(50% 50%);
	animation-duration:1.5s;
	animation-name: logo1;
}


.c3r2,
.c3r3,
.c3r4,
.c3r5,
.c4r2,
.c4r5,
.c5r2,
.c5r5,
.c6r2,
.c6r3,
.c6r4,
.c6r5, {
	@include transform-origin(50% 50%);
	animation-duration:1.5s;
	animation-name: logo1;
	animation-delay: .2s;
}