@keyframes logo1 {
	0% {transform: scale(1);}
	25%{transform: scale(1.1)}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}



@keyframes text {
	0% {transform:translate(-1000px, 0);}
	100% {transform:translate(0,0);}
}

//Random Flyin Animation Start
//1
@keyframes flyin1 {
	0% {transform:translate(0px, 1000px); opacity:0;}
	100% {transform:translate(0,0);}
}
//2
@keyframes flyin2 {
	0% {transform:translate(0px, -1000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//3
@keyframes flyin3 {
	0% {transform:translate(1000px, 0px);opacity:0;}
	100% {transform:translate(0,0);}
}
//4
@keyframes flyin4 {
	0% {transform:translate(-1000px, 0px);opacity:0;}
	100% {transform:translate(0,0);}
}
//5
@keyframes flyin5 {
	0% {transform:translate(2000px, 4000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//6
@keyframes flyin6 {
	0% {transform:translate(-2000px, -4000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//7
@keyframes flyin7 {
	0% {transform:translate(2000px, -4000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//8
@keyframes flyin8 {
	0% {transform:translate(-2000px, 4000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//9
@keyframes flyin9 {
	0% {transform:translate(4000px, 2000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//10
@keyframes flyin10 {
	0% {transform:translate(4000px, -2000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//11
@keyframes flyin11 {
	0% {transform:translate(-4000px, 2000px);opacity:0;}
	100% {transform:translate(0,0);}
}
//12
@keyframes flyin12 {
	0% {transform:translate(-4000px, 2000px);opacity:0;}
	100% {transform:translate(0,0);}
}




//-----

.text {
	animation-duration:1s;
	animation-name:text;
}



.c1r1,
.c3r6,
.c6r3,
.c5r4 {
	animation-name:flyin1;
	animation-duration:$flySpeed;
}

.c3r1,
.c5r6,
.c1r4,
.c8r3 {
	animation-name:flyin2;
	animation-duration:$flySpeed;
}

.c1r3,
.c5r2,
.c2r6,
.c7r5 {
	animation-name:flyin3;
	animation-duration:$flySpeed;
}

.c8r6,
.c2r4,
.c4r6,
.c1r6 {
	animation-name:flyin4;
	animation-duration:$flySpeed;
}

.c1r2,
.c3r5,
.c5r3,
.c8r1 {
	animation-name:flyin5;
	animation-duration:$flySpeed;
}

.c2r2,
.c4r4,
.c6r1,
.c8r3 {
	animation-name:flyin6;
	animation-duration:$flySpeed;
}

.c8r4,
.c5r6,
.c2r3,
.c1r4 {
	animation-name:flyin7;
	animation-duration:$flySpeed;
}

.c3r3,
.c6r6,
.c7r2,
.c4r1,
.c2r5 {
	animation-name:flyin8;
	animation-duration:$flySpeed;
}

.c7r4,
.c6r2,
.c4r5,
.c2r1,
.c4r2 {
	animation-name:flyin9;
	animation-duration:$flySpeed;
}

.c7r6,
.c1r3,
.c3r4,
.c8r5,
.c5r1 {
	animation-name:flyin10;
	animation-duration:$flySpeed;
}

.c4r3,
.c7r1,
.c8r2,
.c6r5,
 {
	animation-name:flyin11;
	animation-duration:$flySpeed;
}

.c3r2,
.c1r5,
.c5r5,
.c7r3,
.c6r4 {
	animation-name:flyin12;
	animation-duration:$flySpeed;
}






















