// _base.scss
// ==============

.homeSlider {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	
}


.homeVideo {
	position:absolute;
	top: 50%;
	left: 50%;
	width:auto;
	height:auto;
	min-width: 100%;
	min-height: 100%;
	@include translate(-50%, -50%);

}


.overlay {
	position:relative;
}

.logo {
	position:absolute;
	width:2000px;
	left:50%;
	top:48%;
	@include transform-origin(50% 50%);
	@include translate(-50%, -50%); 
	padding-left:15px;
	padding-right:15px;
}

.c1r1 {
	fill:#000000;
}



