// _base.scss
// ==============
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

.homeSlider {
	display:block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	
}


.homeVideo {
	display:block;
	position:absolute;
	top: 50%;
	left: 50%;
	width:auto;
	height:auto;
	min-width: 100%;
	min-height: 100vh;
	@include translate(-50%, -50%);

}

.logo {
	position:absolute;
	width:2000px;
	left:50%;
	top:48%;
	@include transform-origin(50% 50%);
	@include translate(-50%, -50%); 
	padding-left:15px;
	padding-right:15px;
}

#logoSvg {
	position: absolute;
	padding: 10px;
	
}

.logowrap {
	position:relative;
	height:600px;
}

#wrapper {
	height:auto;
}

#homeLeft {
	background-color:rgba(45, 45, 45, 0.95);
	height:100vh;
	font-family: $raleway;
	color:rgba(255, 255, 255, 0.9);
		h1 {
			font-weight: 900;
			font-size:8em;
		}
		h2 {
			text-align: left;
			font-size: 3em;
		}

}

#homeRight {
	position: relative;
	background-color:rgba(255, 255, 255, 0.9);
	height:100vh;
	font-family: $raleway;

	h1 {
		font-weight: 900;
		font-size:10em;
	}

	div {
		
		
		//margin-top:-50px;
		a {
			font-size:10em;
			color: rgba(45, 45, 45, 0.95);
			text-decoration: none;
		}
	}
}

.underSlider {
	position: relative;
	margin-top:100vh;
	width:100vw;
}

#filler {
	height:1000px;
	background-color: #fff;
}

.inside {
	padding-top:15px;
	padding-left:25px;
	padding-right:25px;
}


.outer {
    height:auto;
    max-width:100vw;
    position: relative;
    margin-bottom:-5px;
    

}


.inner {
    position:absolute;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.6);
    padding-top:10%;
    color:#ffffff;

}


.inner2 {
    position:absolute;
    transform: translate(-50%,-50%);
    height:100px;
    width:100px;
    left:50%;
    top:50%;
    //background-color:rgba(0, 0, 0, 0.67);
    color:#ffffff;
    cursor: pointer;
}

.controls {
    position:absolute;
    bottom:0px;
    cursor: pointer;
    color:#ffffff;
    padding:5px;
    font-size: 24px;
    
}

#play {
	height:30px;
	width:30px;
	
	display:inline-block;
}

#mute {
	height:30px;
	width:30px;
	
	display: inline-block;
}

#videoReel {
    width:100vw;
}


#contact {
	height:600px;
	background-color: #000;
}

#largePlay {
	width:100%;
	height:100%;
	font-size: 10em;
}

