// _base.scss
// ==============

.homeSlider {
	display:block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	
}


.homeVideo {
	display:block;
	position:absolute;
	top: 50%;
	left: 50%;
	width:auto;
	height:auto;
	min-width: 100%;
	min-height: 100%;
	@include translate(-50%, -50%);

}

.logo {
	position:absolute;
	width:2000px;
	left:50%;
	top:48%;
	@include transform-origin(50% 50%);
	@include translate(-50%, -50%); 
	padding-left:15px;
	padding-right:15px;
}

.section2 {
	height:2000px;
	width:100%;
	background-color: rgba(0, 0, 0, .5);
	margin-top:100vh;
}

#logoSvg {
	position: absolute;
	padding: 10px;
	
}

.logowrap {
	position:relative;
	height:600px;
}


