.homeSlider {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.homeVideo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  width: 2000px;
  left: 50%;
  top: 48%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 15px;
  padding-right: 15px;
}

.section2 {
  display: block;
  height: 2000px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 100vh;
}

#logoSvg {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logowrap {
  position: relative;
  height: 600px;
}

@media (max-width: 767px) {
  .homeSlider {
    background: url("../img/bg-video-still2.jpg") center center/cover no-repeat;
  }

  .homeVideo {
    display: none;
  }
}
@keyframes logo1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes text {
  0% {
    transform: translate(-1000px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin1 {
  0% {
    transform: translate(0px, 1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin2 {
  0% {
    transform: translate(0px, -1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin3 {
  0% {
    transform: translate(1000px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin4 {
  0% {
    transform: translate(-1000px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin5 {
  0% {
    transform: translate(2000px, 4000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin6 {
  0% {
    transform: translate(-2000px, -4000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin7 {
  0% {
    transform: translate(2000px, -4000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin8 {
  0% {
    transform: translate(-2000px, 4000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin9 {
  0% {
    transform: translate(4000px, 2000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin10 {
  0% {
    transform: translate(4000px, -2000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin11 {
  0% {
    transform: translate(-4000px, 2000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyin12 {
  0% {
    transform: translate(-4000px, 2000px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
.text {
  animation-duration: 2.2s;
  animation-name: text;
}

.animate .c1r1,
.animate .c3r6,
.animate .c6r3,
.animate .c5r4 {
  animation-name: flyin1;
  animation-duration: 2s;
}
.animate .c3r1,
.animate .c5r6,
.animate .c1r4,
.animate .c8r3 {
  animation-name: flyin2;
  animation-duration: 2s;
}
.animate .c1r3,
.animate .c5r2,
.animate .c2r6,
.animate .c7r5 {
  animation-name: flyin3;
  animation-duration: 2s;
}
.animate .c8r6,
.animate .c2r4,
.animate .c4r6,
.animate .c1r6 {
  animation-name: flyin4;
  animation-duration: 2s;
}
.animate .c1r2,
.animate .c3r5,
.animate .c5r3,
.animate .c8r1 {
  animation-name: flyin5;
  animation-duration: 2s;
}
.animate .c2r2,
.animate .c4r4,
.animate .c6r1,
.animate .c8r3 {
  animation-name: flyin6;
  animation-duration: 2s;
}
.animate .c8r4,
.animate .c5r6,
.animate .c2r3,
.animate .c1r4 {
  animation-name: flyin7;
  animation-duration: 2s;
}
.animate .c3r3,
.animate .c6r6,
.animate .c7r2,
.animate .c4r1,
.animate .c2r5 {
  animation-name: flyin8;
  animation-duration: 2s;
}
.animate .c7r4,
.animate .c6r2,
.animate .c4r5,
.animate .c2r1,
.animate .c4r2 {
  animation-name: flyin9;
  animation-duration: 2s;
}
.animate .c7r6,
.animate .c1r3,
.animate .c3r4,
.animate .c8r5,
.animate .c5r1 {
  animation-name: flyin10;
  animation-duration: 2s;
}
.animate .c4r3,
.animate .c7r1,
.animate .c8r2,
.animate .c6r5 {
  animation-name: flyin11;
  animation-duration: 2s;
}
.animate .c3r2,
.animate .c1r5,
.animate .c5r5,
.animate .c7r3,
.animate .c6r4 {
  animation-name: flyin12;
  animation-duration: 2s;
}
